.movie-card {
  margin:10px;
  width: 200px;
  height: 360px;
  position: relative;
  background-color: #8e94a9;
  border-radius: 10px;
  padding: 15px;
}
img {
  width: 170px;
  border-radius: 5%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
  background-color: #8e94a9;
}
.movie-info {
  flex-wrap: wrap;
  color: #222222;
  background-color: #8e94a9;
}
.movie-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}
img:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
.favourite-btn {
   position: absolute;           
  top: 0.75rem;                 
  right: 0.75rem;              
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 35%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: background-color 0.2s;
  border: none;
  cursor: pointer;
}

.favourite-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.favourite-btn.active {
  color: #ff4757; /* żywa czerwień dla zaznaczonego serca */
}
